.item {
  width: 24px;
  height: 24px;
  border: 1px solid #dde9ee;
  box-sizing: border-box;
}

.item input {
  visibility: hidden;
}

.item-checked {
  background: #0d8057;
  border: 1px solid #dde9ee;
  box-sizing: border-box;
  background-image: url("./icons/check2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 80%;
  background-position: center;
}

.item-tr td {
  font-size: 30px;
  @include fluid-type(385px, 1920px, 12px, 15px);
  color: #43727f;
}

.item-tr td:nth-child(2),
.item-tr td:nth-child(3),
.item-tr td:nth-child(5) {
  //   background: green;
  font-family: Roboto-Light;
}

.item-tr td:nth-child(4),
.item-tr td:nth-child(6) {
  text-align: center;
}

.item-tr__count {
  font-family: Roboto-Bold;

  div {
    width: 100%;
    border: 1px solid #dde9ee;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.item_tr__brand {
  text-align: right !important;
}
